html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: white;
  background-size: cover;
  height: 100%;
  font-family: Calibri, sans-serif;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 100500;
}


.wrapper-all {
  width: 100%;
  height: 100%;
  position: relative;
  left:0;
  top:0;
  overflow: hidden;
}
.scale_small {
  transform: scale(1);
  overflow-y: auto;
}
.wrap {
  height: 64.1%;
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
}
.hidden-kube {
  visibility: hidden;
  overflow: hidden;
}

.block {
  height: 100%;
  margin:auto;
  display: inline-block;
  #kube {
    height:100%;
    width:100%;

    transition: 0.1s all;
    display: inline-block;

  }
  .kube {
    overflow: hidden;
    color: black;
    background: black;
    img {
      visibility: hidden;
    }
  }
  .white-kube {
    overflow: auto;
    color: black;
    animation:kube-white 5s  ;
  }
}
//@keyframes kube-white {
//  0% {
//    background: #000;
//  }
//  60% {
//    background: #000;
//  }
//  100% {
//    background: white;
//  }
//}
.test2 {
  position: relative;
  z-index: -1;
  height: 99.9%;
  background: #000;
  margin:0 -.36em;
  display:inline-block !important;
  transform: translateX(-200px);
  li {
    width:95%;
    margin: 5px 2px 0 -4px;
  }
}
.test1 {
  position: relative;
  z-index: -1;
  height: 99.9%;
  background: #000;
  margin:0 -.36em;
  display:inline-block !important;
  transform: translateX(200px);
  li {
    width:90%;
    margin: 5px 2px 0 5px;
  }
}

.before-block {
  height:18.1%;
  background: #000;
  position: absolute;
  top: 0;
  left: 50%;
  z-index:-1;
  display:inline-block !important;
  transform: translate(-50%, 200px);
}
.after-block {
  height:18.1%;
  background: #000;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index:-1;
  display:inline-block !important;
  transform: translate(-50%, -200px);
}



.tab-nav{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  text-align: left;
  .nav-menu {
    width:auto;
    a {
      font-size:13px;
      font-weight:500;
    }
  }
  li {
    float:left;
    display: block;
    padding:5px;
    text-align: left;
    a {
      font:normal 12px Arial, Helvetica, sans-serif;
      color:white;
      display: block;
      text-decoration:none;
    }
    &:hover {
      color:white;
      text-decoration:none;
    }
    .lefttabs {
      padding:10px 0 3px 5px;
      line-height:1.5;
      .title {
        font-size:12px;
        font-weight:600;
      }
      span {
        font-size:9px;
      }
    }
    .yellow {
      background: #ffd000;
    }
    .green {
      background: #33b457;
    }
    .blue {
      background: #0093d9;
    }
    .purple {
      background: #642c90;
    }
    .red {
      background: #c62438;
    }
    .news {
      line-height:2.5;
      padding:14px 1px 0 5px;
      background: #2a2a2a;

    }
  }
}

.tab-nav li.select a{
  color: steelblue;
}

.tab-nav li.select a.lefttabs{
  color: black;
}
.tab-nav .active{
  padding:5px;
}
.left-block-menu {
  float: left;
}
.header-nav {
  list-style: none;
  color: white;
  li {
    display: inline;

  }
}

.search-block {
  display: inline-block;
  float: right !important;
  .search-btn {
    max-height: 18px;
    width: auto;
    margin:5px 20px 0 0;
    float: right !important;
    display: inline-block;
    vertical-align: bottom;
  }
}

.dis-none1 {
  transform: translateX(0);
  animation:opas1 1s  ;

}
.dis-none2 {

  transform: translateX(0);
  animation:opas2 1s  ;

}
.dis-none3 {
  transform: translate(-50%, 0);
  position: absolute;
  z-index:1;
  animation:opas3 1s  ;
}
.dis-none4 {
  transform: translate(-50%, 0);
  position: absolute;
  z-index:1;
  animation:opas4 1s  ;
}

.customer-animate2 {
  transition: all 1s;
}

.customer-animate {
  transition: all 1s;
}

.block-logo {
  height:70%;
  width:auto;
  text-align: center;
  margin:0 auto;
  img {
    height:50px;
    width:auto;
    padding:5px;
  }
}
.block-menu {
  height:30%;
  width:auto;
  vertical-align: bottom;
  //float: left;
}

.main-cont {
  padding:15px;
  margin-bottom:20px;
  text-align: justify;
  font-size:14px;
  float: left;
  .img-cont {
    width:auto;
    float: left;
    padding:15px 15px 15px 0;
  }
}
.main-title {
  text-align: center;
  font-weight:800;
}
.title-desc {
  font-weight:900;
  font-size:15px;
}

.icon-fa {
  line-height:25vh;
  font-size:20px;
  color: white;
  text-align: center;
  display: inline-block;
  margin-left:3%;
  margin-right:3%;
}
@keyframes opas2 {
  0% {
    opacity:0;
    transform: translateX(-200px);
  }
  60% {
    opacity:0;
    transform: translateX(-100px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes opas1 {
  0% {
    opacity:0;
    transform: translateX(200px);
  }
  60% {
    opacity:0;
    transform: translateX(100px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes opas3 {
  0% {
    opacity:0;
    transform: translate(-50%, 200px);
  }
  60% {
    opacity:0;
    transform: translate(-50%, 100px);
  }
  100% {
    opacity:1;
    transform: translate(-50%, 0);
  }
}
@keyframes opas4 {
  0% {
    opacity:0;
    transform: translate(-50%, -200px);
  }
  60% {
    opacity:0;
    transform: translate(-50%, -100px);
  }
  100% {
    opacity:1;
    transform: translate(-50%, 0);
  }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
.dis-none5 {
  transform:scale(0) !important;
  left:50%;
  top:50%;
  position: absolute;
  z-index:1;
}
.logo-animate{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:100501;
  display:inline-block !important;
  .loader {
    width:auto;
  }

  .loader{
    -webkit-animation: preloader 9s infinite linear reverse;
    -moz-animation: preloader 9s infinite linear reverse;
    -ms-animation: preloader 9s infinite linear reverse;
    -o-animation: preloader 9s infinite linear reverse;
    animation: preloader 9s infinite linear reverse;
  }

  @-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
  }

  @-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
  }

  @-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
  }

  @keyframes preloader {
    to { transform: rotate(360deg); }
  }



  //-webkit-animation-name: spinner;
  //-webkit-animation-timing-function: linear;
  //-webkit-animation-iteration-count: infinite;
  //-webkit-animation-duration: 6s;
  //-webkit-animation-direction: reverse;
  //
  //animation-name: spinner;  /* указываем на ключевые кадры анимации с названием "spinner" */
  //animation-timing-function: linear; /* функция синхронизации, с помощью которой будут происходить преобразования */
  //animation-iteration-count: infinite; /* количество повторов анимации. "infinite" - значит бесконечно */
  //animation-duration: 6s; /* длительность анимации */
  //animation-direction: reverse;
  //
  //-webkit-transform-style: preserve-3d;
  //-moz-transform-style: preserve-3d;
  //-ms-transform-style: preserve-3d;
  //transform-style: preserve-3d; /* указываем что это 3D преобразование */
}

.logo-animate2 {
  position: absolute;
  top: 0;
  left: 5%;
  .loader2 {
    height: 100px;
    width: auto;
  }
  .loader2{
    -webkit-animation: preloader 6s infinite linear reverse;
    -moz-animation: preloader 6s infinite linear reverse;
    -ms-animation: preloader 6s infinite linear reverse;
    -o-animation: preloader 6s infinite linear reverse;
    animation: preloader 6s infinite linear reverse;
  }
}